<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
<meta charset="UTF-8">
</head>
<body>
<nav th:replace="layout::menu" ></nav>
<div class="card">
		<div class="card-header badge-danger">VENTA DE PRODUCTOS</div>
		<div class="card-body">
			<form th:action="@{/Producto/registrarProducto}" 
			method="post" th:object="${ventaproductoform}">
				<div class="form-group">
					<label for="cbproducto">Seleccione producto a comprar:</label> 
					<select class="form-control" id="cbproducto" th:field="*{codProducto}">
						<option th:each="producto :${lstproductos}"
						th:value="${producto.codProducto}"
						th:text="${producto.nomProducto}"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="txtcantidad">Ingrese la cantidad a comprar:</label> <input
						type="number" th:field="*{cantidadTotal}" class="form-control"
						id="txtcantidad">
				</div>
				<button type="submit" class="btn btn-danger">COMPRAR PRODUCTO</button>
				<div th:if="${visualizar}" class="alert alert-success" role="alert">
					<span th:text="${resultado} ?: ''"></span>
				</div>
			</form>
		</div>
	</div>
</body>
</html>